<li class={{field__wrapper}}>
    <label>
        <span class={{fields__title}}>{{title}}</span>
        <input class={{fields__value}} name={{name}} type={{type}} value={{value}}>
    </label>
    <span name={{name}} class={{error}}></span>
</li>
