<ul>
    {{#each fields}}
        <li class={{../fieldWrapper}}>
            <label>
                <span class={{../fieldsTitle}}>{{title}}</span>
                <input class={{../fieldsValue}} name={{name}} type={{type}} value={{value}}>
            </label>
        </li>
    {{/each}}
</ul>
