<div class="form__wrapper">
    <form action="" class="form">
        <p class="form__title">\{{title}}</p>
        <div class="form__inputs">
            <label data-id="login">
                <span class="input__title">\{{login}}</span>
                <input id="login" type="text" name="login">
            </label>

            <label data-id="password">
                <span class="input__title">\{{password}}</span>
                <input id="password" type="password" name="password">
            </label>

        </div>
        <button type="submit" class="form__submit">
            \{{submitButton}}
        </button>
        <a href="/" class="form__register">\{{registerLink}}</a>
    </form>
</div>

<script>
    
</script>