<div class="form__wrapper">
    <form action="" class="form">
        <p class="form__title">\{{title}}</p>
        <div class="form__inputs">
            <label data-id="email">
                <span class="input__title">\{{email}}</span>
                <input type="email" name="email">
            </label>
            <label data-id="login">
                <span class="input__title">\{{login}}</span>
                <input type="text" name="login">
            </label>
            <label data-id="first_name">
                <span class="input__title">\{{firstName}}</span>
                <input type="text" name="first_name">
            </label>
            <label data-id="second_name">
                <span class="input__title">\{{secondName}}</span>
                <input type="text" name="second_name">
            </label>
            <label data-id="phone">
                <span class="input__title">\{{phone}}</span>
                <input type="text" name="phone">
            </label>
            <label data-id="password">
                <span class="input__title">\{{password}}</span>
                <input type="password" name="password">
            </label>
            <label data-id="password_confirm">
                <span class="input__title">\{{passwordConfirm}}</span>
                <input type="password" name="password_confirm">
            </label>

        </div>
        <button type="submit" class="form__submit">
            \{{submitButton}}
        </button>
        <a href="/login" class="form__enter">\{{enterLink}}</a>
    </form>
</div>

<script>
    
</script>