<li class={{field__wrapper}}>
    {{#if link}}
    {{{fieldLink}}}
    {{else}}
    <span class={{fields__title}}>{{title}}</span>
    <span class={{fields__value}}>{{value}}</span>
    {{/if}}
</li>
