<li class={{field__wrapper}}>
    {{#if link}}
    <a href={{href}} class={{fields__title}}>{{title}}</a>
    {{else}}
    <span class={{fields__title}}>{{title}}</span>
    <span class={{fields__value}}>{{value}}</span>
    {{/if}}
</li>
