<section class={{profile__wrapper}}>
    <form>
        <div class={{profile__top}}>
            <label class={{profile__avatar}}>
                {{{avatar}}}
            </label>
            <p class={{avatar__name}}>Иван</p>
        </div>
        <div class={{profile__fields}}>
            <ul>
                {{{email}}}
                {{{login}}}
                {{{name}}}
                {{{lastName}}}
                {{{chatName}}}
                {{{phone}}}
            </ul>
            <div class={{profile__change}}>
                <ul>
                    {{{changeData}}}
                    {{{changePassword}}}
                    {{{exit}}}
                </ul>
            </div>
    </form>
    <div class={{back}}>
        {{{button}}}
    </div>
</section>
