<section class={{profileWrapper}}>
    <div class={{profileTop}}>
        <div class={{profileAvatar}}>
            <img src={{avatarTmp}} alt="Avatar">
        </div>
        <p class={{avatarName}}>Иван</p>
    </div>
    <div class={{profileFields}}>
            {{{fields1}}}
    </div>
    <div class={{profileChange}}>
            {{{fields2}}}
    </div>
    <div class={{back}}>
        {{{button}}}
    </div>
</section>