<section class={{profileWrapper}}>
    <form>
        <div class={{profileTop}}>
            <label class={{profileAvatar}}>
                <input type="file" name="avatar" hidden>
                <img src={{avatarTmp}} alt="Avatar">
            </label>
            <p class={{avatarName}}>Иван</p>
        </div>
        <div class={{profileFields}}>
                {{{fields1}}}
        <div class={{profileChange}}>
                {{{fields2}}}
        </div>
    </form>
    <div class={{back}}>
        {{{button}}}
    </div>
</section>
