<li class="{{chat__list_item}} {{#if active}}{{chat__list_item_active}}{{/if}}">
    <div class={{chat__item_wrapper}}>
        <div class={{chat__avatar}}>
            <img src={{avatarPath}} alt="Avatar">
        </div>
        <p class={{chat__title}}>{{title}}</p>
        <p class={{chat__subtitle}}>{{subtitle}}</p>
        <span class={{chat__date_time}}>{{date}}</span>
        {{#if newMessage}}
        <span class={{chat__new_message}}>{{>dots newMessage}}</span>
        {{/if}}
    </div>
    <div class={{chat__delete}}>
        {{{deleteButton}}}
    </div>
</li>
