{{#each listItems}}
    <li class={{../chatListItem}}>
        <div class={{../chatItemWrapper}}>
            <div class={{../chatAvatar}}>
            </div>
            <p class={{../chatTitle}}>{{title}}</p>
            <p class={{../chatSubtitle}}>{{subtitle}}</p>
            <span class={{../chatDateTime}}>{{date}}</span>
            {{#if newMessage}}
                <span class={{../chatNewMessage}}>{{>dots newMessage}}</span>
            {{/if}}
        </div>
    </li>
{{/each}}