<div class={{form__wrapper}}>
    <form action="" class={{form}}>
        <p class={{form__title}}>{{title}}</p>
        <div class="{{form__inputs}} formInputs">
                {{{email}}}
                {{{login}}}
                {{{first_name}}}
                {{{second_name}}}
                {{{phone}}}
                {{{password}}}
                {{{password_confirm}}}
        </div>
            {{{button}}}
        </button>
        <a href="/login" class={{form__same_btn}}>{{enterLink}}</a>
    </form>
</div>
