<div class={{formWrapper}}>
    <form action="" class={{form}}>
        <p class={{formTitle}}>{{title}}</p>
        <div class="{{formInputs}} formInputs">
            {{{registerInputs}}}
        </div>
            {{{button}}}
        </button>
        <a href="/login" class={{formSameBtn}}>{{enterLink}}</a>
    </form>
</div>
