<div class={{formWrapper}}>
    <form action="" class={{form}}>
        <p class={{formTitle}}>{{title}}</p>
        <div class="{{formInputs}} formInputs">
                {{{loginInputs}}}
        </div>
        {{{button}}}
        <a href="/register.html" class={{formSameBtn}}>{{registerLink}}</a>
    </form>
</div>
