<div class={{formWrapper}}>
    <form action="" class={{form}}>
        <p class={{formTitle}}>{{title}}</p>
        <div class="{{formInputs}} formInputs">
            <label data-id="login">
                <span class={{inputTitle}}>{{login}}</span>
                <input id="login" type="text" name="login">
            </label>
            <label data-id="password">
                <span class={{inputTitle}}>{{password}}</span>
                <input id="password" type="password" name="password">
            </label>

        </div>
        <button type="submit" class={{formSubmit}}>
            {{submitButton}}
        </button>
        <a href="/register.html" class={{formSameBtn}}>{{registerLink}}</a>
    </form>
</div>

<script>
    
</script>