<div class={{chatWrapper}}>
    <section class={{chatLeftSection}}>
        <a href="/profile" class={{profile}}>Профиль <span>></span></a>
        <input type="text" class={{search}} placeholder="&#128269;&nbsp;Поиск">
        <ul>
            {{{listItems}}}
        </ul>
    </section>
    <section class={{chatRightSection}}>
        <section class={{chatWrapper}}>
            <nav class={{chatNav}}>
                <div class={{chatNavAvatar}}></div>
                <span class={{chatNavName}}>Pavel</span>
                <span class={{navDots}}>.</span>
            </nav>
            <section class={{chatInner}}>
                <p class={{chatInnerDate}}></p>
                <div class={{chatMessage}}>
                    <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                        попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
                        астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на
                        поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

                        Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так
                        никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе
                        за 45000 евро.</p>
                </div>
                <div class={{chatMessage}}>
                    <img src={{img}} alt="Camera">
                </div>
                <div class={{chatMyMessage}}>
                    <p>Круто!</p>
                </div>
            </section>
            <footer>
                <img src={{footer}} alt="Added file">
                <input type="text" placeholder="Сообщение">
                <button>&rarr;</button>
            </footer>
        </section>
    </section>
</div>