<div class={{chatWrapper}}>
    <section class={{chatLeftSection}}>
        <a href="/profile" class={{profile}}>Профиль <span>></span></a>
        <input type="text" class={{search}} placeholder="&#128269;&nbsp;Поиск">
        <ul>
            {{{listItems}}}
        </ul>
    </section>
    <section class={{chatRightSection}}>
        <h1>Выберите чат чтобы отправить сообщение</span>
    </section>
</div>