<li class={{chat__list_item}}>
    <div class={{chat__item_wrapper}}>
        <div class={{chat__avatar}}>
            {{{avatar}}}
        </div>
        <p class={{chat__title}}>{{name}}</p>
        <p class={{chat__title}}>{{surname}}</p>
        <span class={{chat__new_message}}>{{{deleteButton}}}</span>
    </div>
</li>
