<section class={{chat__wrapper}}>
    {{{header}}}
    <section class={{chat__inner}}>
        {{{date}}}
        {{{message1}}}
        {{{message2}}}
        {{{message3}}}
    </section>
    {{{footer}}}
</section>
