<section class={{chatWrapper}}>
    {{{header}}}
    <section class={{chatInner}}>
        {{{date}}}
        {{#each messages}}
            {{{this}}}
        {{/each}}
    </section>
    {{{footer}}}
</section>
