<section class={{chat__wrapper}}>
    {{{header}}}
    <section class={{chat__inner}}>
        {{{date}}}
        {{#each chatMessages}}
            {{{chatMessages}}}
        {{/each}}
    </section>
    {{{footer}}}
</section>
