<nav class={{chat__nav}}>
    <div class={{nav__avatar}}>
        <img src={{avatarPath}} alt="Avatar">
    </div>
    <span class={{nav__name}}>{{name}}</span>
    <span class={{nav__dots}}>{{{dots}}}</span>
    <div class={{nav__buttons}}>
        {{{buttonAdd}}}
        {{{buttonDelete}}}
    </div>
</nav>
