{{#if isMine}}
    <div class={{chat__message_my}}>
        <p>{{text}}</p>
    </div>
{{else}}
    <div class={{chat__message}}>
        {{#if isImg}}
            <img src={{img}} alt={{imgAlt}}>
        {{else}}
            <p>{{text}}</p>
        {{/if}}
    </div>
{{/if}}
